
<div class="oj-hybrid-padding">
  <h1>Customers Details</h1>
  
      <oj-table
    id="customerTable"
    data="[[customers]]"
    display="grid"
    selection-mode.row="single"
    columns='[
      {"headerText": "Customer Id", "field": "customerId"},
      {"headerText": "First Name Type", "field": "firstName"},
      {"headerText": "Last Name", "field": "lastName"},
      {"headerText": "Phone Number", "field": "phoneNumber"},
      {"headerText": "Email Id", "field": "emailId"},
      {"headerText": "Net Profit", "field": "profit"},
      {"headerText": "Assets Worth", "field": "assetsWorth"}
    ]'
    style="width:100%; margin-top:24px;">
  </oj-table>

</div>

<div class="oj-hybrid-padding">
  <h1>Stock Transaction Stats</h1>
  <div class="oj-flex oj-sm-flex-direction-column oj-md-flex-direction-row" style="gap: 32px;">
    <div class="oj-panel oj-panel-shadow-sm oj-panel-alt1" style="padding:1rem; min-width:290px;">
      <h2 class="oj-typography-heading-xs">Most Transacted Stock(s)</h2>
      <ul data-bind="foreach: mostTransactedStocks">
        <li data-bind="text: $data"></li>
      </ul>
    </div>
    <div class="oj-panel oj-panel-shadow-sm oj-panel-alt1" style="padding:1rem; min-width:290px;">
      <h2 class="oj-typography-heading-xs">Least Transacted Stock(s)</h2>
      <ul data-bind="foreach: leastTransactedStocks">
        <li data-bind="text: $data"></li>
      </ul>
    </div>
  </div>
</div>
